@import-normalize;

@import "./reset.css";
@import "./variables.css";

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueLight.otf") format("otf");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueMedium.otf") format("otf");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueHeavy.otf") format("otf");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

body {
	font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L",
		"Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}
